.input {
    & + & {
        margin-top: 10px;
    }

    p {
        color: rgba(0, 0, 0, .5);
        font-size: 12px;
    }

    input {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, .1);
    }
}