.button {
    background: var(--accent);
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 0.44px;
    user-select: none;
    cursor: pointer;

    &-dangerous {
        background: var(--destructive);
    }
}