* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --accent: rgb(0, 140, 255);
}

.app {
    &__content {
        padding: 25px 50px;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }
}